.div{
	background-color: #245E73;
	height:77px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.btn{
	margin-top: 14px;
    margin-left: 20px;
    text-align: center;
    background-color: ivory;
    height: 65%;
    border-radius: 16px;
}

#id{
	align:left;
	margin-left: 398px;
}