<div class="div">
	<h1 class="header1">Fill the tank </h1>
	<h2 class="header1"> Please proceed with filling the tank : Water level 18% </h2>
</div>
<br>
<div class="div">
	<h1 class="header1">Irrigation system is turned on </h1>
	<h2 class="header1"> Please note that the moisture dropped in the soil, irrigation system is on </h2>
</div>
<br>
<div class="div">
	<h1 class="header1">Water tank cover is open </h1>
	<h2 class="header1"> Please note that the water tank's cover is open and getting filled by the rain </h2>
</div>

